//media query
$media-query-mobile: 420px;

//color
$color-primary: #2196F3;
$color-error: #ff9393;
$color-text-primary: #000;
$color-text-light: rgba(0,0,0,0.8);
$color-background: #fff;
$color-palceholder: #bbb;
$color-input-background: #f0eef3;
$color-line: #f0eef3;

//border-radius
$border-radius-buttons: 6px;

//transition
$transition-primary: 200ms all linear;